body {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

main {
	background-image: url('../images/background.png');
	background-size: cover;
	text-align: center;
	width: inherit;
	height: inherit;
}

h1 {
	margin: 0;
	padding: 50px 20px 20px 20px;
	font-size: 50px;
	color: #373837;
	text-shadow:
		-1px -1px 0 #FFF,
		 1px -1px 0 #FFF,
		-1px  1px 0 #FFF,
		 1px  1px 0 #FFF;
}

.panda-atras {
	display: flex;
	justify-content: center;
}

.descripcion:after {
	font-family: 'Indie Flower', cursive;
	content: "siempre jugando ... 'una mariposa'";
	font-size: 30px;
}

.panda-imagen {
	width: 500px;
	height: 400px;
	background-image: url('../images/panda1.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
	.panda-imagen {
		width: 400px;
		background-image: url('../images/panda2.png');
	}
	.descripcion:after {
		content: "haciendo amigos ... 'hola'";
	}
}

@media screen and (max-width: 850px) {
	.panda-imagen {
		width: 350px;
		margin-top: 15px;
		background-image: url('../images/panda3.png');
	}
	.descripcion:after {
		content: "comiendo... 'Oooh, encontré comida'";
	}
}

@media screen and (max-width: 650px) {
	.panda-imagen {
		height: 350px;
		background-image: url('../images/panda4.png');
	}
	.descripcion:after {
		content: "seguir comiento... 'que rico, quiero más'";
	}
}

@media screen and (max-width: 500px) {
	.panda-imagen {
		background-image: url('../images/panda5.png');
	}
	.descripcion:after {
		content: "'creo que comí mucho' ... hora de dormir";
	}
}